*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#fff;
    color:#111;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.hero h1{
    font-size:72px;
    font-weight:600;
    letter-spacing:8px;
}

.hero p{
    margin-top:20px;
    font-size:20px;
    color:#666;
}

nav{
    margin-top:50px;
}

nav a{
    margin:0 25px;
    text-decoration:none;
    color:#111;
    font-size:18px;
    transition:.3s;
}

nav a:hover{
    opacity:.5;
}

#portfolio{
    max-width:1400px;
    margin:auto;
    padding:120px 40px;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(450px,1fr));
    gap:30px;
}

#portfolio img{
    width:100%;
    display:block;
}

#about{
    max-width:900px;
    margin:auto;
    padding:120px 40px;
}

#about h2,
#contact h2{
    font-size:42px;
    margin-bottom:30px;
}

#about p{
    line-height:1.8;
    font-size:18px;
    margin-bottom:25px;
}

#contact{
    max-width:900px;
    margin:auto;
    padding:120px 40px;
}

#contact p{
    margin:18px 0;
    font-size:20px;
}
